main {
  perspective: 400px;
  background: url(../images/starfield.jpeg);
  height: 100vh;
}

.text-crawl {
  text-align: center;
  color: #fff200;
  font-weight: bold;
  width: 50%;
  margin: 0 auto;
  transform: rotateX(40deg);
  animation: animateCrawl 20s ease-in;
}

h1 {
  font-size: 30px;
}

p {
  font-size: 20px;
}

@keyframes animateCrawl {
  0% {
    transform: rotateX(50deg) translateY(400px);
  }
  100% {
    transform: rotateX(50deg) translateY(-600px);
  }
}

@media (426px <= width <= 768px) {
  .text-crawl {
    width: 300px;
  }
  h1 {
    font-size: 60px;
  }

  p {
    font-size: 25px;
  }
}

@media (width >= 769px) {
  .text-crawl {
    width: 600px;
  }
  h1 {
    font-size: 125px;
  }

  p {
    font-size: 30px;
  }
}
