main {
    perspective: 400px;
}

.text-crawl {
    text-align: center;
    color: var(--red);
    font-weight: bold;
    width: 600px;
    margin: 0 auto;
    transform: rotateX(30deg);
    animation: animateCrawl 20s ease-in;
}

h1 {
    font-size: 125px;
}

p {
    font-size: 30px;
}

@keyframes animateCrawl {
    0% { transform: rotateX(30deg) translateY(400px); }
    100% { transform: rotateX(30deg) translateY(-300px); }
}