/*----- ABOUT -----*/

.title-card {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.title-card:focus,
.title-card:hover {
  border: 1px solid var(--red);
  box-shadow: 0 0 50px var(--red);
}

.title-card h5 {
  font-family: "starwars", "Rubik", sans-serif;
  font-size: 60px;
  font-weight: 700;
  color: var(--red);
  text-decoration-line: none;
}

.avatar-card {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.avatar-card:focus,
.avatar-card:hover {
  border: 1px solid var(--red);
  box-shadow: 0 0 50px var(--red);
}

.avatar-card.jedi:focus,
.avatar-card.jedi:hover {
  border: 1px solid #008000;
  box-shadow: 0 0 50px #008000;
}

.avatar-card.padawan:focus,
.avatar-card.padawan:hover {
  border: 1px solid #eec10d;
  box-shadow: 0 0 50px #eec10d;
}

.avatar-card h5 {
  font-family: "starwars", "Rubik", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: var(--red);
  text-decoration-line: none;
}

.avatar-body {
  min-height: 400px;
}

.card-footer a:hover {
  color: var(--red);
}

.card-footer .fa-brands {
  color: var(--white);
  font-size: 2rem;
}
.fa-brands:hover {
  color: var(--red);
}

.jedi.fa-brands:hover {
  color: #008000;
}

.padawan.fa-brands:hover {
  color: #eec10d;
}

@media (max-width: 426px) {
  .homepage-card p {
    display: inline-flex;
    justify-content: center;
  }

  .title-card h5 {
    font-size: 28px;
  }

  .title-card a > p {
    font-size: 3.2vw;
  }
}
