/*----- ROOT VARIABLES -----*/
:root {
  /* Typography Variables */

  /* Colour Variables */
  --white: #f1f1f1;
  --grey: #2b3637;
  --black: #101010;
  --red: #ff0011;
}

@font-face {
  font-family: "starwars";
  src: url(/assets/css/SfDistantGalaxyAltoutline-e2Bp.ttf);
}

body {
  background: var(--black);
}

main {
  padding-bottom: 100px;
}

.bg-color-background {
  background: var(--grey);
}

.container-fluid {
  color: var(--white);
}

/*----- NAVBAR -----*/
.navbar-dark {
  background-color: var(--black) !important;
}

.navbar .navbar-brand {
  color: var(--red);
}

.navbar-nav .nav-item .nav-link {
  color: var(--white);
}

.navbar-nav .nav-item .nav-link:hover {
  border-bottom: 2px solid var(--red);
}

/*----- FOOTER -----*/
footer {
  color: var(white);
  background-color: var(--grey);
  text-align: center;
  padding: 0.75rem;
}

footer p {
  font-size: 20px;
}

footer a {
  color: var(--white);
  font-size: 25px;
}

footer a:hover {
  color: var(--red);
}
/*----- MAIN -----*/

.homepage-card {
  height: 300px;
  font-family: "starwars", "Rubik", sans-serif;
  font-size: 40px;
  font-weight: 700;
}

.homepage-card:focus,
.homepage-card:hover {
  border: 1px solid var(--red);
  box-shadow: 0 0 50px var(--red);
}

.homepage-card a {
  color: var(--red);
  text-decoration-line: none;
}

.logo-card {
  background: url('../images/darth_saber.jpeg') no-repeat;
  background-size: cover;
}

.quiz-card {
  background: url('../images/darth-vader-stormtrooper.jpg') no-repeat center center;
  background-size: cover;
}

.wiki-card {
  background: url('../images/darth_helmet.jpg') no-repeat center center;
  background-size: cover;
}
  
/*----- QUIZ -----*/
.hide {
  display: none;
}
span {
  display: block;
}
#scoreboard,
#answerBank {
  display: none;
}
#question-buttons {
  display: none;
}
#welcome-text {
  display: block;
}

.quiz-box-shadow {
  box-shadow: 0 0 10px 5px #ff0011;
}

.quiz-text-title {
  font-family: "starwars", "Rubik", sans-serif;
    font-size: 60px;
    font-weight: 500;
}

.quiz-text-caption {
  font-family: "starwars", "Rubik", sans-serif;
    font-size: 40px;
    font-weight: 700;
}

.main-caption {
  margin-top: 7rem;
}

.quiz-text {
  font-family: "Rubik", sans-serif;
    font-size: 20px;
    font-weight: 500;
}

ol{
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

#quiz-container {
  background-color: #2b3637;
}

.btn-danger {
  color: #fff;
  background-color: #ff0011;
}

.modal {
  top: 10rem
}

.modal-content {
  color: #fff;
  background-color: #2b3637;
  box-shadow: 0 0 10px 5px #f1f1f1;
}

.close {
  color:#f1f1f1;
}

.modal-title {
  font-family: "starwars", "Rubik", sans-serif;
  font-size: 30px;
  font-weight: 500;
}

.hero-image {
  background: url('../images/darth-quiz-hero.png') no-repeat;
  background-size: cover;
}

#scoreboard, .inner-gameArea, #answerBank {
  height: 32rem;
  background: url('../images/darth-quiz-hero.png') no-repeat;
  background-size: cover;
}

.buttons {
  position: absolute;
  bottom:   20px;
  width: 90%;
}

.question {
  height: 3rem;
  margin-top: 2rem;
}

.score-points {
  margin-top: 7rem;
}

/* Responsive breakpoints */
@media screen and (min-width:576px) {
  .hero-image, #scoreboard, #answerBank {
    background-position-x: 50%;
  }
  .modal {
    top: 6rem;
  }
  ol {
    margin-top: 3rem;
  }
}
/* End of Responsive breakpoints */