/*----- ROOT VARIABLES -----*/
:root {
  /* Typography Variables */

  /* Colour Variables */
  --white: #f1f1f1;
  --grey: #2b3637;
  --black: #101010;
  --red: #ff0011;
}

@font-face {
  font-family: "starwars";
  src: url(assets/css/SfDistantGalaxyAltoutline-e2Bp.ttf);
}


body {
  background: var(--black);
}

main {
  padding-bottom: 100px;
}

.bg-color-background {
  background: var(--grey);
}

.container-fluid {
  color: var(--white);
}

/*----- NAVBAR -----*/
.navbar-dark {
  background-color: var(--black) !important;
}

.navbar .navbar-brand {
  color: var(--red);
}

.navbar-nav .nav-item .nav-link {
  color: var(--white);
}

.navbar-dark .navbar-nav .active>.nav-link {
  color: var(--red);
}

.navbar-nav .nav-item .nav-link:hover {
  border-bottom: 2px solid var(--red);
}

/*----- FOOTER -----*/
footer {
  color: var(--white);
  background-color: var(--grey);
  text-align: center;
  padding: 0.75rem;
}

footer p {
  font-size: 20px;
}

footer a {
  color: var(--white);
  font-size: 25px;
}

footer a:hover {
  color: var(--red);
}

/*----- MAIN -----*/

.homepage-card {
  height: 300px;
  font-family: "starwars", "Rubik", sans-serif;
  font-size: 40px;
  font-weight: 700;
}

.homepage-card:focus,
.homepage-card:hover {
  border: 1px solid var(--red);
  box-shadow: 0 0 50px var(--red);
}

.homepage-card a {
  color: var(--red);
  text-decoration-line: none;
  text-shadow:2px 2px 4px var(--grey);
}
.homepage-card a>p {
  font-size: 20px;
  font-weight: 500;
  text-shadow:2px 2px 4px var(--grey);

}
.logo-card {
  background: url("../images/darth_saber.jpeg") no-repeat;
  background-size: cover;
  height: 160px;
}

.quiz-card {
  background: url("../images/darth-vader-stormtrooper.jpg") no-repeat center
    center;
  background-size: cover;
}

.wiki-card {
  background: url("../images/darth_helmet.jpg") no-repeat center center;
  background-size: cover;
}

#logo-text {
  font-family: "rubik", sans-serif;
  font-size: 25px;
  color: var(--red);
  text-shadow: 2px 2px var(--black);
  visibility: hidden;
}

#quiz-text {
  font-family: "rubik", sans-serif;
  font-size: 25px;
  color: var(--red);
  text-shadow: 2px 2px var(--black);
  visibility: hidden;
}

#wiki-text {
  font-family: "rubik", sans-serif;
  font-size: 25px;
  color: var(--red);
  text-shadow: 3px 3px var(--black);
  visibility: hidden;
}

/*----- QUIZ -----*/
.hide {
  display: none;
}

span {
  display: block;
}

.option{
  width:fit-content;
}

/*highlight answer on mouse hover*/
.option:hover{
  box-shadow: 0px 0px 5px 5px #ff0011;
  cursor: pointer;
}

.option:hover .option:marker{
  box-shadow: 0px 0px 5px 5px #ff0011;
}

#scoreboard,
#answerBank {
  display: none;
}

#question-buttons {
  display: none;
}

#welcome-text {
  display: block;
}

#gameRestart{
  display:none;
}

.quiz-box-shadow {
  box-shadow: 0 0 10px 5px (var(--red));
}

.quiz-text-title {
  font-family: "starwars", "Rubik", sans-serif;
  font-size: 60px;
  font-weight: 500;
}

.quiz-text-caption {
  font-family: "starwars", "Rubik", sans-serif;
  font-size: 40px;
  font-weight: 700;
}

.main-caption {
  margin-top: 7rem;
}

.quiz-text {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

ol {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

#quiz-container {
  background-color: var(--grey);
}

.btn-danger {
  color: #fff;
  background-color: var(--red);
}

.modal {
  top: 10rem;
}

.modal-content {
  color: #fff;
  background-color: var(--grey);
  box-shadow: 0 0 10px 5px var(--white);
}

.close {
  color: var(--white);
}

.modal-title {
  font-family: "starwars", "Rubik", sans-serif;
  font-size: 30px;
  font-weight: 500;
}

.hero-image {
  background: url("../images/darth-quiz-hero.png") no-repeat;
  background-size: cover;
}

#scoreboard, .inner-gameArea, #answerBank {
  height: 32rem;

  background: url('../images/darth-quiz-hero.png') no-repeat;
  background-size: cover;
}

.buttons {
  position: absolute;
  bottom:   20px;
  width: 90%;
}

.game-buttons {
  box-shadow: 0 0 10px 2px #f1f1f1;
  font-weight: 700;
}

.question {
  height: 3rem;
  margin-top: 2rem;
}

.score-points {
  margin-top: 7rem;
}

li.option:hover {
  box-shadow: 0 0 10px 2px #f1f1f1;
}

/* Responsive breakpoints */
@media screen and (min-width:576px) {
  .hero-image, #scoreboard, #answerBank {
    background-position-x: 50%;
    color: white;
    overflow: hidden;
    background: #C04848;  /* fallback for old browsers */
    background: linear-gradient(rgba(14, 13, 14, 0.8), rgba(227, 32, 32, 0.8)), url('../images/darth-quiz-hero.png'); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(rgba(7, 7, 7, 0.8), rgba(234, 57, 57, 0.8)), url('../images/darth-quiz-hero.png'); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .modal {
    top: 6rem;
  }
  ol {
    margin-top: 3rem;
  }
}
/* End of Responsive breakpoints */
}

@media (max-width: 768px) {
  .homepage-card a>p {
    font-size: 2vw;
    font-weight: 500;
  }
}

@media (max-width: 426px) {
  .logo-card {
    height: 120px;
  }

  .homepage-card a {
    font-size: 28px;
  }

  .homepage-card a>p {
    font-size: 3.2vw;
  }
}

