/*----- ROOT VARIABLES -----*/
:root {
    /* Typography Variables */
    

    /* Colour Variables */
    --white: #F1F1F1;
    --grey: #2B3637;
    --black: #101010;
    --red: #FF0011;
}

body {
    background: var(--black);
}

.bg-color-background {
    background: var(--grey);
}

.container-fluid {
    color: var(--white);
}

/*----- NAVBAR -----*/
.navbar-dark {
    background-color: var(--black) !important;
}

.navbar .navbar-brand {
    color: var(--red);
}

.navbar-nav .nav-item .nav-link {
    color: var(--white);
}

.navbar-nav .nav-item .nav-link:hover {
    border-bottom: 2px solid var(--red);
}

/*----- FOOTER -----*/
footer {
    color: var(white);
    background-color: var(--grey);
    text-align: center;
    padding: 0.75rem;
}

footer p {
    font-size: 20px;
}

footer a {
    color: var(--white);
    font-size: 25px;
}

footer a:hover {
    color: var(--red);
}
/*----- MAIN -----*/
.landing-image {
    background-image: url('../images/darth_saber.jpeg');
    background-size: cover;
}

.homepage-card{
    height: 300px;
    font-family: "Star Wars", "Rubik", sans-serif;
    font-size: 40px;
    font-weight: 500;
}

/* .homepage-card:hover {
    border: 3px solid var(--red);
} */

.homepage-card:focus, .homepage-card:hover {
    border: 1px solid var(--red);
    box-shadow: 0 0 50px var(--red);
  }

.homepage-card a{
    color: var(--red);
    text-decoration-line: none;
}
/*----- QUIZ -----*/
.hide {
    display: none;
}
span{
    display: block;
}
#scoreboard,#answerBank{
    display: none;
}
#question-buttons {
    display: none;
}
#welcome-text {
    display: block;
}